* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
}

ul, li{
    list-style: none;
}

.cabecalho{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #3347b0;
    padding: 0 90px;

}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-logo{
    background-color: #3347b0;
    transition: 0.5s;
}

.btn-logo:hover{
    transform: scale(1.07);
    cursor: pointer;
}

.btn-sair{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #3347b0;
    transition: 0.5s;
}

.logo h1{
    max-width: 1rem;
    color: white;
    font-size: 1.5rem;
}

.btn-sair h1{
    color: white;
    font-size: 1.5rem;
}

.btn-sair:hover{
    transform: scale(1.07);
    cursor: pointer;
}

main{
   height: 73.7vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 90px;
}

.dispositivos{
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    font-size: 2rem;
}

.dispositivos h2, span{
    font-weight: normal;
}

.dispositivos .curso{
    color: #3347b0;
}

.estudante{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.63;
}

.cursos{
    display: flex;
    flex-direction: column;
    padding: 90 0px;
    gap: 50px;
}

.cursos button{
    width: 400px;
    height: 200px;
    background-color: #3347b0;
    box-shadow: 10px 10px 4px rgb(151, 151, 151);
    transition: 0.5s;
}

.cursos button:hover{
    transform: scale(1.07);
    cursor: pointer;
}

.cursos span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.home .container,
.home .detalhe-aluno {
    display: none;
}

.alunos .dispositivos,
.alunos .estudante,
.alunos .cursos,
.alunos .detalhe-aluno {
    display: none;
}

.alunos .container {
    display: flex;
    gap: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 200px);
    gap: 20px;
    justify-content: center;
}

.cards{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #3347b0;
}

.cards img {
    width: 200px;
    height: 200px;
    border-radius: 100px / 100px;
}

.cards span{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.cards:hover{
    transform: scale(1.07);
    cursor: pointer;
}

.dt-aluno .dispositivos,
.dt-aluno .estudante,
.dt-aluno .cursos,
.dt-aluno .container {
    display: none;
}

.dt-aluno .detalhe-aluno{
    display: flex;
}

.card-aluno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: gray;
}

.card-aluno img{
    width: 400px;
    height: 400px;
    border-radius: 200px / 200px;
}

.card-aluno span{
    color: black;
    font-size: 2rem;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: gray;
}

.rodape{
    display: flex;
    height: 140px;
    background-color: #3347b0;
    justify-content: space-between;
    padding: 0 90px;
    align-items: center;
}

.list-contatos{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.list-contatos li{
    display: flex;
    align-items: center;
    gap: 10px; 
    color: white;
}

.copyright{
    color: white;
}

.midias-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
